
@{
    ViewBag.Title = "BarkodOkuyucu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Portfolio start -->
<section id="main-container" class="portfolio-static">
    <div class="container">

        <!-- Company Profile -->

        <div class="row">
            <div class="col-md-12 heading text-center" style="margin-top:90px">
                <h2 class="title2">
                   BARCODE READERS
                    <span class="title-desc"> </span>
                </h2>
            </div>
        </div><!-- Title row end -->

        <div class="row">
            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/portfolio/ccd.jpg" alt="" style="object-fit:fill">

                    </figure>
                    <div class="portfolio-static-desc text-center">

                        <span><a>CCD READER</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 1 end -->

            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/portfolio/coklulazer.jpg" style="object-fit:fill" alt="">

                    </figure>
                    <div class="portfolio-static-desc text-center">

                        <span><a>VERTASILE LASER READER</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 2 end -->

            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/portfolio/endustriyel.jpg" alt="" style="object-fit:fill">

                    </figure>
                    <div class="portfolio-static-desc text-center">

                        <span><a>INDUSTRIAL READER</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 3 end -->

            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/portfolio/kablosuz.jpg" alt="" style="object-fit:fill; ">

                    </figure>
                    <div class="portfolio-static-desc text-center">

                        <span><a>WIRELESS READER</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 4 end -->

            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/portfolio/karekod.jpg" alt="" style="object-fit:fill">

                    </figure>
                    <div class="portfolio-static-desc text-center">

                        <span><a>2D CODE READER</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 5 end -->
            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/portfolio/manyetik.jpg" alt="" style="object-fit:fill">

                    </figure>
                    <div class="portfolio-static-desc text-center">

                        <span><a>MAGNETIC READER</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 5 end -->
            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/portfolio/teklilazer.jpg" alt="" style="object-fit:fill">

                    </figure>
                    <div class="portfolio-static-desc text-center">

                        <span><a>SINGLE STRIPED LASER READER</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 5 end -->
            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/Content/images/portfolio/imager.png" alt="" style="object-fit:fill">

                    </figure>
                    <div class="portfolio-static-desc text-center">

                        <span><a>IMAGER READER</a></span>
                    </div>
                </div><!--/ grid end -->
            </div><!--/ item 5 end -->
        </div>
    </div>
</section>

