
@{
    ViewBag.Title = "BaskiliEtiket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Portfolio start -->
    <section id="main-container" class="portfolio-static">
        <div class="container">

            <!-- Company Profile -->

            <div class="row">
                <div class="col-md-12 heading text-center" style="margin-top:90px">
                    <h2 class="title2">
                        PRINTED LABELS
                        <span class="title-desc"> </span>
                    </h2>
                </div>
            </div><!-- Title row end -->
           
            <div class="row">
                <div class="col-sm-3 portfolio-static-item" >
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/products/kozmetik.jpg" alt="" style="width: 100%;
        height: auto;
        object-fit: cover;
        object-position: 20% 15%">                           
                        </figure>
                        <div class="portfolio-static-desc text-center">

                            <span><a>Cosmetic Labels</a></span>
                        </div>
                    </div><!--/ grid end -->
                </div><!--/ item 1 end -->

                <div class="col-sm-3 portfolio-static-item" >
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/products/madeniyağetiketi.jpg"  alt="" style="width: 100%;
        height: auto;
        object-fit: cover;
        object-position: 20% 15%">
                            
                        </figure>
                        <div class="portfolio-static-desc text-center">

                            <span><a>Mineral Oil Labels</a></span>
                        </div>
                    </div><!--/ grid end -->
                </div><!--/ item 2 end -->

                <div class="col-sm-3 portfolio-static-item" >
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/products/gidaetiket.jpg" alt="" style="width: 100%;
        height: auto;
        object-fit: cover;
        object-position: 20% 15%" >                          
                        </figure>
                        <div class="portfolio-static-desc text-center">
                            <span><a>Foodstuff Labels</a></span>
                        </div>
                    </div><!--/ grid end -->
                </div><!--/ item 3 end -->

                <div class="col-sm-3 portfolio-static-item" >
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/products/temizlikurun.jpg"style=" width: 100%;
        height: auto;
        object-fit: cover;
        object-position: 20% 15%">
                            
                        </figure>
                        <div class="portfolio-static-desc text-center">

                            <span><a>Cleaning Products Labels</a></span>
                        </div>
                    </div><!--/ grid end -->
                </div><!--/ item 4 end -->

                <div class="col-sm-3 portfolio-static-item" >
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/products/tekstiletiketi.jpg" alt="" style="width: 100%;
        height: auto;
        object-fit: cover;
        object-position: 20% 15%">
                           
                        </figure>
                        <div class="portfolio-static-desc text-center">

                            <span><a>Textile Labels</a></span>
                        </div>
                    </div><!--/ grid end -->
                </div><!--/ item 5 end -->
                <div class="col-sm-3 portfolio-static-item" >
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/products/kimyaetiketi.jpg" alt="" style="width: 100%;
        height: auto;
        object-fit: cover;
        object-position: 20% 15%">     
                        </figure>
                        <div class="portfolio-static-desc text-center">
                            <span><a>Chemicals Labels</a></span>
                        </div>
                    </div><!--/ grid end -->
                </div><!--/ item 5 end -->
                <div class="col-sm-3 portfolio-static-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/products/demir.jpg" alt="" style="width: 100%;
        height: auto;
        object-fit: cover;
        object-position: 20% 15%">
                            
                        </figure>
                        <div class="portfolio-static-desc text-center">

                            <span><a>Packaging Labels</a></span>
                        </div>
                    </div><!--/ grid end -->
                </div><!--/ item 5 end -->
                <div class="col-sm-3 portfolio-static-item" >
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/products/koli.jpg" alt="" style="width: 100%;
        height: auto;
        object-fit: cover;
        object-position: 20% 15%">
                           
                        </figure>
                        <div class="portfolio-static-desc text-center">

                            <span><a>Parcel/Box Labels</a></span>
                        </div>
                    </div><!--/ grid end -->
                </div><!--/ item 5 end -->
            </div>
            </div>
            </section>
