
@{
    ViewBag.Title = "Vision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Team start -->

    <section id="main-container">
        <div class="container">

            <!-- Company Profile -->

            <div class="row">
                <div class="col-md-12 heading text-center" style="margin-top:90px">
                    <h2 class="title2">
                        VISION, MISSION and OUR VAUES
                        <span class="title-desc"> </span>
                    </h2>
                </div>
            </div><!-- Title row end -->

            <div class="row text-center">
                <div class="col-md-6 col-sm-6">
                    <div class="team wow slideInLeft">
                        <div class="img-hexagon">
                            <img src="~/Content/images/other/visionn.png" alt="">
                           
                            <div class="service-content">                               
                                <p>To integrate the quality of its services and products and thus to reach out large masses, as the first choice of its clients.</p>
                            </div>
                        </div>

                    </div>
                </div><!--/ Team 1 end -->
                <div class="col-md-6 col-sm-6">
                    <div class="team wow slideInLeft">
                        <div class="img-hexagon">
                            <img src="~/Content/images/other/mission.png" alt="">
                            
                            <div class="service-content">

                                
                                <p>
                                    To embrace the principle of continuous improvement.
                                    To boost the production capacity.
                                    To rely on innovative and positive management.
                                    To attach importance to quality.
                                </p>
                            </div>
                        </div>

                    </div>
                </div><!--/ Team 2 end -->
                <div class="row">
                    <div class="col-md-12 col-sm-12">

                        <div class="img-hexagon">
                            <img src="~/Content/images/other/values.png" alt="">
                        </div><!--/ Content row end -->


                        <h3></h3>
                        <p>
                            Code of Conduct:  All operational functions respect the paramount business ethics in their domains, decisions and relationships.
                            Reliability:  We are open, sincere, honest and fair in our relations with each other, our business partners and clients. Trust and honesty are most important values of ours.
                            Passion for Success:  Encouraged by our high passion for success, we never give up, but strive and work in great motivation, in the face of difficulties and challenges.
                            Quality-Oriented:  We accomplish our operations in a timely manner, with the highest quality and efficiently.
                            Responsibility:  We comprehend the expectations concerning our business and assume responsibility; and we put forth and implement effective solutions.

                        </p>
                    </div>
                            </div>

                        </div>
                  
               
               

         

        </div>
        </section>
